# This is Python Tutorial

In [ ]:
print("Hello World")
print("a = b + c")

# Variables

In [ ]:
x = 3

In [ ]:
%whos   #tells about variables present inside  memory and its type

In [ ]:
print(type(x))   #for explicitly checking

In [ ]:
x = 4.5

In [ ]:
%whos

In [ ]:
a,b,c,d,e = 1,2.0,5,7,4.5

In [ ]:
%whos

In [ ]:
del x

In [ ]:
%whos

In [ ]:
print(x) #since it is not present inside list

In [ ]:
y = 3 + 4j

In [ ]:
print(type(y))

In [ ]:
s = "Hello How are you"

In [ ]:
print(type(s))

# Operators

In [ ]:
%whos

In [ ]:
sumofaAndb = a+b

In [ ]:
print(sumofaAndb)

In [ ]:
type(sumofaAndb)

In [ ]:
type(a+y)

In [ ]:
v = ((a+d)**3)/4

In [ ]:
print(v)

In [ ]:
s1 = "Ajay  "
s2 = "Shitkar"
s = s1 + s2   #Here + sign is used for concatenation purpose and not for addition
print(s)

In [ ]:
10//3 #floor division

In [ ]:
10/3 # division

In [ ]:
_                #for printing variables

In [ ]:
@y = 5 #invalid variable name

In [ ]:
_r = 5 # valid variable before _  (exceptional)

# Bool

In [ ]:
a = True
b = True
c = False

In [ ]:
%whos

In [ ]:
print(a and b)
print(a and c)
print(c and a)

In [ ]:
d = a or b
print(d)

In [ ]:
not(a)  #contradict of a

In [ ]:
not(b)

In [ ]:
j = not(d)

In [ ]:
type(j)

In [ ]:
print(j)

In [ ]:
not((a and b) or (a and c))

# Comparison

In [ ]:
print(5<7)

In [ ]:
c = 3<6
print(type(c))

In [ ]:
print(c)

In [ ]:
x = 3
y = 5
z = 5.6
r = 8

In [ ]:
(x<y) and (z>y) or (r==x)

In [ ]:
print((not(2!=3) and True) or (False and True))

# Some Useful Functions

**#
round() function rounds the input value to a specified number of places or to the nearest integer

In [ ]:
print(round(4.556))

In [ ]:
print(round(4.556789,2))  #result should be upto 2 decimal places

 **#
 divmod(x,y) outputs the quotient and the reminder in a tuple

In [ ]:
G= divmod(34,10)

In [ ]:
type(G)

In [ ]:
print(G)

In [ ]:
G[0]

In [ ]:
G[1]

**#
isinstance() returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [ ]:
v = isinstance(1,int)
h = isinstance(1.0,int)
j = isinstance(2.098,(int,float))

In [ ]:
print(v)
print(h)
print(j)

**#
pow(x,y) x raise to y
x**y means the same 
pow(x,y,z) x raise to the power y and remainder by z,
it sometimes helps to take 3 argument at a time.

In [ ]:
pow(5,6)

In [ ]:
pow(2,3,5)

**#
Input()  for eg: input("Enter Something")
It takes value in only string

In [ ]:
x = input("Enter a number : ")

In [ ]:
type(x)

In [ ]:
#conversion of str to int
x = int(x)

In [ ]:
type(x)

In [ ]:
print(x-34)

In [ ]:
x = str(x)

In [ ]:
type(x)

In [ ]:
#can also be written as
a = float(input("Enter a real number : "))

In [ ]:
type(a)

In [ ]:
help(pow)

# Control Flow (Condition)

# if condition

In [ ]:
a = int(input("Enter a number : "))
b = int(input("Enter a number : "))
if a>b:
    print("a is greater than b")
if b>a:
    print("b is greater than a")

# else condition

In [ ]:
a = int(input("Enter a number : "))
b = int(input("Enter a number : "))
if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

# if-elif-else

In [ ]:
a = int(input("Enter Marks : "))

if a>=85:
    print("A+ Grade")
elif (a < 85) and (a >= 80):
    print("A Grade")
elif (a<80) and (a>=75):
    print("B+ Grade")
elif (a<75) and (a>=70):
    print("B- Grade")
else:
    print("Below Average")

In [ ]:
#implement else part without actually else

a = int(input("Enter a number : "))

if a>15:
    print("A is greater than 15")
elif not(a>15):
    print("Else part")

# Nested if

In [ ]:
a = int(input("Enter a number : "))
if a>20:
    print("a is greater than 20")
    if a%2==0:
        print("a is an even number")
    else:
        print("a is odd number")
else:
    print("a is not greater than 10")

In [ ]:
#single line command
""" 
User will enter a floating point number let say 238.915. Your task
is to find out the integer portion before the point (in this case 238)
and then check if that integer portion is an even number or not?
"""

x = float(input("Enter a real number : "))
y = round(x)
if x>0:    
    if y>x:
        intPortion = y-1 
    else:
        intPortion = y
else:
    if y<x:
        intPortion = y+1
    else:
        intPortion = y

print("Number is :", intportion)

if intportion%2 == 0:
    print(intportion , " is even")
else:
    print(intportion , "is odd")

In [ ]:
round(-10)

# Control Flow (Loops)

# while loop

In [ ]:
n = int(input("Enter a number"))
i =  1
while i<n:
    print(i**2)
    print("This is iteration number :",i)
    i =  i+1
print("Loop done")

In [ ]:
n = int(input("Max Iterations : "))
i = 5
while i< n:
    if i%2==0: 
        print(i)
    else:
        pass
    i += 1
print("done")

In [ ]:
n = int(input("Enter a number : "))
i = 1
while True:
    print("I Love Coding")
    i=i+1
print("Something it feels boring")

# while loop using break and continue

In [ ]:
#break --> exit the loop and comes out of the loop  
#continue --> skip the iteration 

n = int(input("Enter a number : "))
i = 1
while True: #always get into the loop
    if i%9 == 0:
        print("Ajay print hua..")
        break
    else:
        print("Ajay print nhi hua..")
        i= i+1
print("Tera Kaam ho gaya")

In [ ]:
n = 10
i = 1
while True:
    if i%9 != 0:
        print("inside if")
        i +=1
        continue
    print("something")
    print("somethingelse")
    break
    
print("done")

# For Loop

In [ ]:
#List is represented by L=[] --> separated by commas
#range() is used to show the series of number
#range can be represented by (0,10,2) where 0 is start of series which is not included and 10 is end which is not included and 2 represent the jump

L = []
for i in range(10): #start from 0
    print(i+1)
    L.append(i**2)
print(L)

In [ ]:
#range can be represented by (0,10,2) where 0 is start of series which is not included and 10 is end which is not included and 2 represent the jump
L = []
for i in range(0,20,3):
    print(i)
    L.append(i**2)
print(L)

In [ ]:
#ELSE IN FOR LOOP

In [ ]:
#S represents Sets in Python

S = { "Ajay" , "91.20" , "Mango"}
for x in S:
    print(x)
else:
    print("Loop  Completes its iterations")

In [ ]:
#D represents Dictionary in Python

D = {"Ajay":92 , "Vinay":"Apple"}
for x in D:
    print(x,D[x])

In [ ]:
""" Minimum Number change with first number
"""

L = [1,2,4,-5,7,9,3,2]

m = L[0]
idx = 0
c = 0
for i in L:
    if i<m:
        m = i
        idx = c
    c+=1
temp = L[0]
L[0] = m
L[idx] = temp
print(L)

In [ ]:
""" Given a list of numbers i.e. [1,2,4,-5,7,9,3,2], make another list
that contains all the items in sorted order from min to max. i.e. your 
result will be another list like [-5,1,2,2,3,4,7,9]
"""

L = [1,2,4,-5,7,9,3,2]
for j in range(len(L)):
    m = L[j]
    idx = j
    c = j
    for i in range(j,len(L)):
        if L[i]<m:
            m = L[i]
            idx = c
        c+=1    
    tmp = L[j]
    L[j] = m
    L[idx] = tmp
print(L)

# Functions

In [ ]:
def Gmean(a,b):       #defining the function
    mean = (a*b)/(a+b)
    print(mean)
    
def isGreater(a,b):
    if(a>b):
        print("a is greater then b")
    else:
        print("b is greater then a")

        
a = int(input("Enter a number"))
b = int(input("Enter a number"))
Gmean(a,b)    #Calling the function
isGreater(a,b)

In [ ]:
#Function Arguments and return statement

"""
1) Default Argument
We can provide a default value while creating a function.
This way the function assumes a default value even if a value is not provided in the function call for that argument.
"""

def name(fname="Ajay", mname="Dinesh", lname = "Sharma"):
    print("Hello", fname ,mname ,lname)
    
name("Anish","Madhav","Raju")

In [ ]:
"""
2)Keyword arguments
We can provide arguments with key = value, this way the interpreter recognizes
the arguments by the parameter name.
Hence, the the order in which the arguments are passed does not matter.
"""

def name(fname, mname, lname):
    print("Hello,", fname, mname, lname)

name(mname = "Peter", lname = "Wesker", fname = "Jade")

In [ ]:
"""
3)Required arguments:
In case we don’t pass the arguments with a key = value syntax, then it is necessary to pass the arguments in the correct positional 
order and the number of arguments passed should match with actual function definition.
"""
#kam se kam 2 values toh denne hi hogi ek apne ap ho jaaega

def average(a,b,c=1):
    mean = (a+b+c)/3
    print("The average is :", mean)
    
average(a=4,b=6)

In [ ]:
"""
4) Arbitrary Arguments:
While creating a function, pass a * before the parameter name while defining the function.
The function accesses the arguments by processing them in the form of tuple.
"""

def average(*numbers):  # * indicates tuple
    print(type(numbers))
    sum =0
    for i in numbers:
        sum = sum + i
    print("The average is :" , sum/len(numbers))
    
average(7,8,9,3)

In [ ]:
"""
5) return Statement
The return statement is used to return the value of the expression
back to the calling function.
"""

def average(*numbers):  # * indicates tuple
    print(type(numbers))
    sum =0
    for i in numbers:
        sum = sum + i
    return sum/len(numbers) 

c = average(6,3,9,7) #return statement ka value calling function ko milta hai
print(c)

# Strings

In [ ]:
name = "Ajay"
Job = " Engineer"

print("Hello, " + name)

# multiple line string

apple = ''' He said, 
Hi Harry 
Hey I am Good
"I want to eat an apple" '''
print(apple)


#string is like a sequence  of character/array...
print(name[0])   #string indexing starts from 0
print(name[1])
print(name[2])
print(name[3])
#print(name[4])   #throws an error



#for loop through the string
print("Lets use a for loop")
for character in apple:
    print(character)

# String Slicing

In [ ]:
fruit = "Mango"  #indexing starts from 0
len1 = len(fruit)
print( len1)

print(fruit[0:4]) #including 0 but not 4
print(fruit[1:4]) #including 1 but not 4
print(fruit[:5]) #default indexing starts from 0
print(fruit[0:-3])
#print(fruit[0:len(fruit)-3])


#negative indexing
print(fruit[-1:-3])
print(fruit[-3:-1]) #print(fruit[-3 len(fruit): len(fruit)]-1)


print(fruit[4])	#returns character at specified index

In [ ]:
nm = "Harry"

print(nm[-4:-2])

# String Method

In [ ]:
#Strings are immutable i.e we can't change it

a = "Ajay"
print(len(a))
print(a.upper())
print(a.lower())


b = "!! Raju !!!!!!!"
print(b.rstrip("!"))  # rstrip() removes only trailing character and not the  leading character

print(b.replace("Raju","Harsh")) #replace() replaces all occurence of a string

print(b.split()) #split() --> splits the elements in form of list

#capitalize() converts the only first character to upper and convert the rest to lower case
H = "introduction to world of ml"
print(H.capitalize())

#center()  aligns the string to the center

print(H.center(50))

In [ ]:
str1 = "Welcome to the Console !!!"
print(str1.endswith("!!!")) #it checks and return boolean value


# find() represents first occurence of the given value and tells us at wwhat index it is present and if not found simply returns -1
str1 = "He's name is Dan. He is an honest man."
print(str1.find("ishh"))


#The isalnum() method returns True only if the entire string only
#consists of A-Z, a-z, 0-9. If any other characters or punctuations are present, then it returns False.

str1 = "WelcomeToTheConsole"
print(str1.isalnum())



#If any other characters or punctuations or numbers(0-9) are present, then it returns False.
str1 = "Welcome00"
print(str1.isalpha())

In [ ]:
str1 = "hello world"
print(str1.islower())

str1 = "We wish you a Merry Christmas\n"
print(str1.isprintable())
str1 = "         "       #using Spacebar
print(str1.isspace())
str2 = "  "       #using Tab
print(str2.isspace())

str1 = "World Health Organization" 
print(str1.istitle()) #returns true if the first letter is capitalize

str2 = "To kill a Mocking bird"
print(str2.istitle())

str1 = "Python is a Interpreted Language" 
print(str1.startswith("Python"))  #returns true if the string starts with the given value

str1 = "Python is a Interpreted Language" 
print(str1.swapcase()) #swap lower case to upper case and vice versa

str1 = "His name is Dan. Dan is an honest man."
print(str1.title())  #The title() method capitalizes each letter of the word within the string.

# Lists

In [ ]:
#lists --> items are enclosed in [] brackets  and are seprated by commas

L = ["Ajay", "Sachin" , "Dipesh"] #indexing always start from 0
Marks = [6 ,8 ,3]

print(L)
print(Marks)

print(type(Marks))

print(L[2])

In [ ]:
#Lists are changeable
#we can add any data type in lists

G = ["Arjun" , 9 , True, 3.988 , "Ajay" , ]

In [ ]:
print(G)

print(G[0])
print(G[1])
print(G[2])
print(G[3])




#Negative Indexing
print(G[-3]) 
print(G[len(G)-3]) #Positive Index
print(G[4-3])   #Positive Index
print(G[1])    #Positive Index

In [ ]:
if 9 in G:
    print("Yes")
else:
    print("No")

    
#Same Thing apply for string also
if "Arj" in G:
    print("Yes")
else:
    print("No")

In [ ]:
#we can also print range in list

#  listName[start : end : JumpIndex]

animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(len(animals))
print(animals[::2])		#using positive indexes
print(animals[-8:-1:3])	#using negative indexes

In [ ]:
#list Comprehension

lst = [i*i for i in range(10)]
print(lst)

lst1 = [i*i for i in range(10) if i%2==0]
print(lst1)

# List Method

In [ ]:
 l = [13, 7,4,96,23]
print(l)

l.append(54) #Add elemnt in the list
print(l)

l.sort() #print list in ascending order
print(l)

l.sort(reverse = True)
print(l)

l.reverse()  # reverse the entire list

print(l.index(96))  #print the elemnets which is present at list 1


m = l.copy() #makes copy of that list and hence make operation on it
m[0] = 90
print(m)


l.insert(2,876) #insert elememt at that position in the list
print(l)

p = [65,89,90,43]  #adding p list element in the list l
l.extend(p)
print(l)

# Tuples

In [ ]:
#Tuples --> items are enclosed in () brackets  and are seprated by commas
# Tuples are immutable ---> value , length ,elements can't change once declare 
# we can add value of different datatype

tup = (48, 83 , 90 ,32)
print(tup)
print(tup[1])
print(tup[2])

tup = ()  #inorder to make empty tuple
print(type(tup))


# positive and negative indexing is same as list and string


#check for items

x = int(input("Enter a number : "))
if x in tup:
    print( x , " is  present at in list")
else:
    print("It is not present")
    

#Range is same as that of the list  
#syntax --> Tuple[start : end : jumpIndex]

# Tuples Method

In [ ]:
#Tuples sre immutable, to make any changes we have to convert tuples to list and hence make  operation again covert back to tuple

countries = ("Spain", "Italy", "India", "England", "Germany")
temp = list(countries)
temp.append("Russia")       #add item 
temp.pop(3)                 #remove item
temp[2] = "Finland"         #change item
countries = tuple(temp)
print(countries)


#We Can Concatenate Two Tuples
countries = ("Pakistan", "Afghanistan", "Bangladesh", "ShriLanka")
countries2 = ("Vietnam", "India", "China")
southEastAsia = countries + countries2
print(southEastAsia)

In [ ]:
tup1 = (45 , 89, 65, 65, 23 ,84 ,66)
res = tup1.count(65) #count the number of occurence of element
print(res)

In [ ]:
#tuple.index(element, start, end) --> syntax
#The Index() method returns the first occurrence of the given element from the tuple.
tup1 = (45 , 89, 65, 65, 23 ,84 ,66)
res = tup1.index(84) 
print(res)

# Sets

In [1]:
#Set items are separated by commas and enclosed within curly brackets {}.
#Sets are unchangeable, meaning you cannot change items of the set once created.
#Sets do not contain duplicate items.

s = {7,4,9,5,7} #can't take repeated values , order is not maintain in the output
print(s)


ajay = set()  #inorder to make empty set
print(type(ajay))


#You can access items of set using a for loop.
info = {"Carla", 19, False, 5.9}
for item in info:
    print(item)

{9, 4, 5, 7}
<class 'set'>
False
19
Carla
5.9

# Sets Method

In [1]:
#The union() and update() methods prints all items that are present in the two sets.
#The union() method returns a new set whereas update() method adds item into the existing set from another set.


cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.union(cities2)
print(cities3)

cities.update(cities2)
print(cities)

{'Berlin', 'Madrid', 'Kabul', 'Tokyo', 'Seoul', 'Delhi'}
{'Berlin', 'Madrid', 'Kabul', 'Tokyo', 'Seoul', 'Delhi'}

In [2]:
#The intersection() and intersection_update() methods prints only items that are similar to both the sets.

cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.intersection(cities2)
print(cities3)

cities.intersection_update(cities2)
print(cities)

{'Tokyo', 'Madrid'}
{'Tokyo', 'Madrid'}

In [7]:
#symmetric difference prints that values we are not present in both the sets.


cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.symmetric_difference(cities2)
print(cities3)



#Difference between two sets

cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi"}
cities3 = cities.difference(cities2)
print(cities3)

{'Berlin', 'Kabul', 'Seoul', 'Delhi'}
{'Berlin', 'Tokyo', 'Madrid'}

In [8]:
#The isdisjoint() method checks if items of given set are present in another set.
#This method returns False if items are present, else it returns True.

cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
print(cities.isdisjoint(cities2))

False

In [10]:
#The issuperset() method checks if all the items of a particular set are present in the original set.
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul"}
print(cities.issuperset(cities2))
cities3 = {"Tokyo", "Madrid"}  #saare elements hone chahiye aise nhi  ki ek ho aur dusra nhi!! 
print(cities.issuperset(cities3))

False
True

In [11]:
#The issubset() method checks if all the items of the original set are present in the particular set.
#It returns True if all the items are present, else it returns False.


cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Delhi", "Madrid"}
print(cities2.issubset(cities))

True

In [13]:
#If you want to add a single item to the set use the add() method.


cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.add("Helsinki")
print(cities)


#We can use remove() and discard() methods to remove items form list.

cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.remove("Tokyo")
print(cities)



"""
The main difference between remove and discard is that, if we try to delete an item which is not present in set,
then remove() raises an error, whereas discard() does not raise any error."""

{'Berlin', 'Helsinki', 'Madrid', 'Tokyo', 'Delhi'}
{'Berlin', 'Delhi', 'Madrid'}

In [17]:
#pop() --> This method removes the last item of the set but the catch is that we don’t know which item gets popped as sets are unordered.
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
item = cities.pop()
print(cities)
print(item)



#clear()--> This method clears all items in the set and prints an empty set.
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.clear()
print(cities)

{'Tokyo', 'Delhi', 'Madrid'}
Berlin
set()

In [22]:
#del ---> del is not a method, rather it is a keyword which deletes the set entirely.


#clear() -->  This method clears all items in the set and prints an empty set.
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.clear()
print(cities)

set()

# Dictionary

In [26]:
#Dictionary items are key-value pairs that are separated by commas and enclosed within curly brackets {}.
#Dictionary items  can be ordered or unordered
dic = {
    'Ajay' : 'Engineer' ,
    'Experience ' : 'Developer'    
}

print(dic)

print(dic["Ajay"])

{'Ajay': 'Engineer', 'Experience ': 'Developer'}
Engineer

In [31]:
roll = {
    453 :"Ajay",
    674 : "Dipesh", 
    892 : "Vinay"
}

#print(roll[893])  #throws error if not present
print(roll.get(893)) #not throws  error

None

In [39]:
#Accessing mutiple values

dic = {
    'Ajay' : 'Engineer' ,
    'Experience ' : 'Developer'    
}

print(dic.keys()) #prints only keys
print(dic.items()) #print keys along with values
print(dic.values()) #print only values

#OR

for key in dic:
    print(dic[key])
    
    
f

dict_keys(['Ajay', 'Experience '])
dict_items([('Ajay', 'Engineer'), ('Experience ', 'Developer')])
dict_values(['Engineer', 'Developer'])
Engineer
Developer